body {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  color: #8e8e8e;
  min-height: 100%;
  background: #f9f9f9;
}

h1 {
  font-family: "Questrial";
  font-style: normal;
  letter-spacing: 2px;
  color: #484848;
  font-size: 25px;
  vertical-align: top;
  text-align: center;
  padding-top: 52px;
  padding-bottom: 25px;
}

.navbar-expand-lg .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
  flex-direction: column;
  padding-bottom: 2%;
  font-size: 18px;
}

.banner {
  text-align: center;
  width: 100%;
}

h3 {
  background-color: #3fa796;
  text-align: center;
  color: rgb(249, 242, 242);
  padding: 66px;
  margin-bottom: 55px;
}

.profile_pics {
  width: 380px;
}

.emily_and_kami_container-1 {
  float: left;
  text-align: right;
  margin-bottom: 55px;
}

.emily_and_kami_container-2 {
  float: right;
  text-align: left;
  width: 395px;
  word-wrap: break-word;
  display: block;
  margin-bottom: 55px;
  margin-top: -30px;
}

.emilys_professional_title {
  padding-right: 110px;
}

.kami_text {
  margin-top: -5%;
}

.kamis_professional_title {
  padding-right: 73px;
}

.about_text {
  padding-top: 4%;
}

.tawni_container-1 {
  text-align: left;
  margin: 0 0 0 auto;
  width: 395px;
  padding: 0;
  padding-top: 70px;
}

.tawni_container-2 {
  margin-bottom: 55px;
  padding-right: 50%;
  text-align: center;
}

.tawni_professional_title{
  position: absolute;
  padding-left: 100px;
}

.kami {
  padding-top: 4%;
}

/* Our Vision */

.our_vision {
  background-color: #3fa796;
  color: rgb(249, 242, 242);
  padding: 50px 180px;
  text-align: center;
}

.our_vision_headers{
  font-size: 35px;
  padding-bottom: 10px;
}

h6 {
  line-height: 2;
  font-size: 18px;
  font-weight: 100;
  padding-bottom: 80px;
}

.our_vision_quotes {
  font-weight: 100;
  padding-bottom: 20px;
}









