body {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  color: #8e8e8e;
  min-height: 100%;
  background: #f9f9f9;
}

h1 {
  font-style: normal;
  letter-spacing: 2px;
  color: #484848;
  font-size: 25px;
  vertical-align: top;
  text-align: center;
  padding-top: 54px;
  padding-bottom: 0px;
}

.page_header {
  font-weight: 100;
  font-size: 23px;
}

/* Navigation Bar */
.navbar-expand-lg .navbar-collapse {
  color: #d0d0d0c3;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 100;
  padding-bottom: 35px;
}

.nav-item {
  padding: 6px;
}

.nav-item:hover {
  background-color: #f1f1f1;
  border-radius: 5px;
}

#nav_hr:before, #nav_hr:after {
  background-color: #d0d0d0c3;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 5%;
}

#nav_hr:before {
  top: 35px;
  right: 29px;
  margin-left: -25px;
}

#nav_hr:after {
  left: 845px;
  bottom: 35px;
}

.active.nav-item:hover {
  background-color: #f1f1f1;
}

.active {
  background-color: #f1f1f1;
  border-radius: 5px;
}


/* Banner */
.banner {
  text-align: center;
  width: 100%;
}

h3 {
  background-color: #2a9280;
  text-align: center;
  color: rgb(249, 242, 242);
  padding: 66px;
  margin-bottom: 55px;
}

.profile_pics {
  width: 380px;
}

.emily_and_kami_container-1 {
  float: left;
  text-align: right;
  margin-bottom: 55px;
}

.emily_and_kami_container-2 {
  float: right;
  text-align: left;
  width: 395px;
  word-wrap: break-word;
  display: block;
  margin-bottom: 55px;
  margin-top: -30px;
}

.emilys_professional_title {
  padding-right: 110px;
}

.kami_text {
  margin-top: -5%;
}

.kamis_professional_title {
  padding-right: 73px;
}

.about_text {
  padding-top: 4%;
}

.tawni_container-1 {
  text-align: left;
  margin: 0 0 0 auto;
  width: 395px;
  padding: 0;
  padding-top: 70px;
}

.tawni_container-2 {
  margin-bottom: 55px;
  padding-right: 50%;
  text-align: center;
}

.tawni_professional_title{
  position: absolute;
  padding-left: 100px;
}

.kami {
  padding-top: 4%;
}

/* Our Vision */
.our_vision {
  background-color: #2a9280;
  color: rgb(249, 242, 242);
  padding: 50px 180px;
  text-align: center;
}

.our_vision_headers{
  font-size: 35px;
  padding-bottom: 10px;
}

h6 {
  line-height: 2;
  font-size: 18px;
  font-weight: 100;
  padding-bottom: 80px;
}

.our_vision_quotes {
  font-weight: 100;
  padding-bottom: 20px;
}

/* Global & Local Organizations Section */


.global_organizations, .local_organizations {
  padding: 50px 180px;
  text-align: center;
  color: #484848;
}

.local_organizations_background_color {
  background-color: #2a9280;
}


.loh_color, .lop_color {
  color: rgb(249, 242, 242);
}

.global_org_images, .local_org_images {
 height: 350px;
}

.global_organizations_header {
  font-weight: 500;
  font-size: 47px;
}

.global_organization_paragraph, .local_organizations_paragraph {
  font-weight: 300;
  padding-bottom: 60px;
}

#carouselExampleIndicators, #carouselExampleIndicators2 {
  background-color: #d1d1d1;
  border-radius: 10%;
}

/* More About Emily Section */

.more_about_emily {
  color: #8e8e8e;
  padding: 50px 180px;
  margin: 0 auto;
  width: 1300px;
}

.more_about_emily h2 {
  color: #484848;
  text-align: center;
  font-size: 35px;
}

.more_about_emily p {
  font-size: 17px;
  line-height: 1.5;
  font-weight: 100;
  padding-bottom: 10px;
}

/* Footer */
footer {
  background-color: #f3f3f3; 
  padding: 70px 0 50px 0
}
.footer-content{
  width: 1300px;
  margin: 0 auto;
}

footer p {
  font-family:'Raleway', sans-serif;
  color: #484848;
  font-weight: 100;
  display: inline;
  margin-left: 180px;
}

.social_media_group {
  margin-left: 900px;
}

.social_media_icons {
  padding: 0 8px;
  color: #AAAAAA;
}

.social_media_icons:hover {
  color: #2a9280;
}

footer hr {
  margin: -3px auto 0 180px;
  width: 950px;
}

.hours, .phone, .email {
  color: #8e8e8e;
  font-size: 14px;
}

.phone, .email {
  margin-left: 64px;
}

.phone-title {
  margin-left: 110px;
}

.email-title {
  margin-left: 70px;
}
