body {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    color: #8e8e8e;
    min-height: 100%;
    background-color: #f9f9f9;
}
  
h1 {
    font-family: "Questrial";
    font-style: normal;
    letter-spacing: 2px;
    color: #484848;
    font-size: 25px;
    vertical-align: top;
    text-align: center;
    padding-top: 52px;
    padding-bottom: 25px;
    font-weight: 100;
}
  
.navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    flex-direction: column;
    padding-bottom: 2%;
    font-size: 18px;
}
  
.banner {
    text-align: center;
    width: 100%;
}

/* Client Portal Button Styling */
.vote_button h3, .vote_button p {
  color: #ffffff;
}

.vote_button h3 {
  margin-top: -10px;
  font-size: 30px;
}

.vote_button p {
  font-size: 24px;
  font-weight: 100;
}


.vote_button {
      padding: 70px 0 70px 0;
      text-align: center;
      background-color: #2a9280;
}

button {
      background-color: #484848;
      color: white;
      font-weight: 100;
      padding: 6px 18px;
      font-size: 15px;
      letter-spacing: 2px;
      transition: 0.4s;
}

button:hover {
      background-color: #636363;
      transition: 0.4s;
}

/* Video Tutorial */
.video_tutorial_video {
    text-align: center;
    font-size: 35px;
    padding-bottom: 60px;
}

span {
  font-weight: 500;
}

.video_tutorial_video p {
    padding-top: 50px;
    color:#484848;
    font-weight: 300;
}

/* Footer */
footer {
    background-color: #f3f3f3; 
    padding: 70px 0 50px 0
  }
  .footer-content{
    width: 1300px;
    margin: 0 auto;
  }
  
  footer p {
    font-family:'Raleway', sans-serif;
    color: #484848;
    font-weight: 100;
    display: inline;
    margin-left: 180px;
  }
  
  .social_media_group {
    margin-left: 900px;
  }
  
  .social_media_icons {
    padding: 0 8px;
    color: #AAAAAA;
  }
  
  .social_media_icons:hover {
    color: #3fa796;
  }
  
  footer hr {
    margin: -3px auto 0 180px;
    width: 950px;
    background-color: #8e8e8e;
    opacity: 25%;
  }
  
  .hours, .phone, .email {
    color: #8e8e8e;
    font-size: 14px;
  }
  
  .phone, .email {
    margin-left: 64px;
  }
  
  .phone-title {
    margin-left: 110px;
  }
  
  .email-title {
    margin-left: 70px;
  }